<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>BASE</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>x50</string>
    <string>x500</string>
    <string>x5000</string>
    <string>x30.300</string>
    <string>x40.400</string>
  </array>
</dict>
</plist>
